Lab 3 Exercises
===============


Function Exercises
------------------
Functions are very important. Make your best effort at these
**without any help or AI**. Obviously, you can look at related
examples and documentation. If you are stuck, post on `#code`
or come to lab next week.

1. Write a function `convert_to_f(tempc)` that takes the temperature in celsius as a parameter and returns the temperature in farenheight.
2. Write a function `convert_to_c(tempf)` that takes the temperature in farenheight as a parameter and returns the temperature in celcius.
3. Write a function `hypotenuse(a, b)` which calculates the hypotenuse of a right triangle 
   when given the length of sides `a` and `b`. Use the Pythagorean theorem `a² + b² = c²`.
   Remember, exponentiation in Python is done with `**`, e.g. `a**2`.
4. Write a function `area(radius)` which calculates the area of a circle given the radius. Use the formula `πr²`. 
   Note, import the `math` and you can use `math.pi` for the value of π.
5. Write a function called `calc_tip(bill)` which calculates the tip on a bill. The function returns
   a string that is nicely formatted, showing the original bill, and the possible tip amounts at 18%, 20%, and 25%.
   You might want to use an f-string with triple quotes to help with the formatting.

In [2]:
import math
# I will give you exercise 1 for free!

# 1. Write a function `convert_to_f(tempc)` that takes the 
#    temperature in celsius as a parameter and returns 
#    the temperature in farenheight.

def convert_to_f(tempc):
    return (tempc * 9/5) + 32

# this isn't required, but you will have to test it out yourself
print(f"Problem 1: 100C should be close to 212F: {convert_to_f(100)}")

Problem 1: 100C should be ~ 212F: 212.0

Map Exercises
-------------

**Review**: Load the geo data and then calculate average population density for each city,
the five year population change, and the percent
population change (not absolute) for reach city.

Use this data for the questions below. _If you are stuck, let us know on `#code`_.

- - - -

1. **Just Texas.** Filter the map to only show cities in Texas. Call explore on this new `GeoDataFrame`.
2. **Tooltip & apply().** Use `apply()` to create a column called "tooltip" which shows the city, state and population density of each city.
   Show this map using your new column as the tooltip.
3. **Popup column.** `explore()` the DataFrame showing city, state, and pct_change in the on-click popup.
4. **Population density map.** Create a new map with the following:
   - a custom tile base map of your choice (anything but the default)
   - cities that gained population plotted as green circles
   - cities that lost population plotted as red circles
   - a new column called "Population Change" with the city name, state, 
     number of people lost or gained, and percent change
   - use "Population Change" as the popup
   - use "city" as the tooltip

In [3]:
import geopandas as gpd
import xyzservices.providers as xyz

url = "https://raw.githubusercontent.com/mcuringa/cartopy/main/notebooks/data/city-points.geojson"

df = gpd.read_file(url)

# add df["five_year_change"]


# add df["pct_change"]

df

,city,state,pop_2022,pop_2017,area,geometry
0,New York,NY,8622467,8560072,300.455595,POINT (-73.93868 40.66271)
1,Los Angeles,CA,3881041,3949776,470.514345,POINT (-118.41082 34.01939)
2,Chicago,IL,2721914,2722586,227.746682,POINT (-87.68494 41.83705)
3,Houston,TX,2296253,2267336,640.602800,POINT (-95.38881 29.78574)
4,Phoenix,AZ,1609456,1574421,518.327625,POINT (-112.09013 33.57215)
...,...,...,...,...,...,...
334,San Tan Valley,AZ,101207,90665,75.792311,POINT (-111.56282 33.17859)
335,Quincy,MA,100981,93824,16.572565,POINT (-71.00899 42.26101)
336,Edinburg,TX,100964,86123,44.722438,POINT (-98.16284 26.32106)
337,Lynn,MA,100653,93069,10.738836,POINT (-70.96203 42.47477)
338,New Bedford,MA,100620,95125,20.000777,POINT (-70.93791 41.6613)